<div class="container-fluid mt-5">
            <div class="row justify-content-center">
                <div class="col-sm-5  border border-primary border-2 p-2">
                    <h3>De lees-challenge: het is moeilijk, het is zwaar, maar je kunt het!</h3>
                    <img width="30px" height="30px" src="<?php echo base_url(); ?>img/author.png"alt=""><span class="badge rounded-pill bg-info">ALEID TRUIJENS</span> <br><br>
                    <img width="30px" height="30px" src="<?php echo base_url(); ?>img/date.png" alt=""> <span class="badge rounded-pill bg-danger">22.08.2022</span>
                </div>
                <div class="col-sm-5  border border-primary border-2 p-2">
                    <h3>Namens de vleeslobby: sorry voor de Nederland Vleesland-campagne</h3>
                    <img width="30px" height="30px" src="<?php echo base_url(); ?>img/author.png"alt=""><span class="badge rounded-pill bg-info">TEUN VAN DE KEUKEN</span> <br><br>
                    <img width="30px" height="30px" src="<?php echo base_url(); ?>img/date.png" alt=""> <span class="badge rounded-pill bg-danger">24.08.2022</span>
                </div>
                <div class="col-sm-5  border border-primary border-2 p-2">
                        <h3>Emily Maitlis is finally free to say what needed saying: the BBC has lost its nerve</h3>
                        <img width="30px" height="30px" src="<?php echo base_url(); ?>img/author.png"alt=""><span class="badge rounded-pill bg-info">Gaby Hinsliff</span> <br><br>
                        <img width="30px" height="30px" src="<?php echo base_url(); ?>img/date.png" alt=""> <span class="badge rounded-pill bg-danger">25.08.2022</span>
                    </div>
                    <div class="col-sm-5  border border-primary border-2 p-2">
                        <h3>Mock the Week was never part of the culture wars. We only fought for laughs</h3>
                        <img width="30px" height="30px" src="<?php echo base_url(); ?>img/author.png"alt=""><span class="badge rounded-pill bg-info">Dara Ó Briain</span> <br><br>
                        <img width="30px" height="30px" src="<?php echo base_url(); ?>img/date.png" alt=""> <span class="badge rounded-pill bg-danger">26.08.2022</span>
                    </div>
              </div>
          </div>