<div class="container mt-5">
            <h3>Write a article</h3>
            <form action="/action_page.php">
            <div class="mb-3 mt-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
            </div>
              <div class="mb-3 mt-3">
                <label for="comment">Article:</label>
                <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Publish</button>
            </form>
          </div>